/*body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #f2f2f2;
}

#container {
    width: 960px;
    margin: 0 auto;
    background: #fff url(../Images/coluna.png) repeat-y left top;
    min-width: 720px;
    max-width: 1280px;
}

#container {
    width: 720px;
    margin: 0 auto;
    background: #fff;
}

#marca {
    width: 100%;
    height: 200px;
    background: #225992 url(../Images/cabecalho2.jpg) no-repeat center;
    text-align: center;
    line-height: 200px;
}

#marca {
    height: 100px;
    background: #9E9E9E;
    text-align: center;
    line-height: 100px;
}

#conteudo {
    width: 75%;
    float: right;
}

#conteudo-principal {
    width: 63%;
    float: left;
}

img.imagem-cp {
    width: 96%;
    padding: 2%;
}

#conteudo-principal {
    width: 320px;
    float: left;
}

#conteudo-secundario {
    width: 34%;
    float: right;
    background: #d1d1d1;
}

#conteudo-secundario {
    width: 180px;
    float: right;
    background: #d1d1d1;
}

#conteudo-secundario h1,
#conteudo-secundario h2,
#conteudo-secundario h3,
#conteudo-secundario p {
    padding-left: 20px;
    padding-right: 20px;
}

#navegacao {
    width: 23%;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #d1d1d1;
}

#navegacao ul {
    list-style: none;
}

#navegacao li a {
    text-decoration: none;
}

#rodape {
    clear: both;
    background: #c4c4c4;
    padding: 5px;
}

****************************************************** 

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #f2f2f2;
}

table {
    width: 600px;
    border-collapse: separate;

}

th, td {
    padding: 7px;
}

th {
    text-transform: uppercase;
    border-top: 1px solid #999;
    border-bottom: 1px solid #111;
    text-align: left;
    font-size: 90%;
    letter-spacing: 0.1em;
}

tr.alternado {
    background-color: #efefef;
}

tr:hover {
    background-color: #c3e3e5;
}

.preco {
    text-align: right;
}

****************************************** */

/* Estilizando formularios

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

fieldset {
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #ccc;
    background: #f8f8f8;
}

legend {
    font-weight: bold;
}

label {
    display: block;
    cursor: pointer;
}

input {
    width: 20em;
}

textarea {
    width: 20em;
    height: 10em;
}

input.radio, input.checkbox, input.submit {
    width: auto;
}

.radio {
    margin-right: 1em;
}

Fim estilizando formularios

**************************************************** 

Caixa de login

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #643d87 url(../Images/fundo.jpg) no-repeat top center;
}

#container {
    width: 400px;
    height: 300px;
    background-color: rgba(255,255,255,0.3);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px; 
    -o-border-radius: 10px; 
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 120px;
    text-align: center;
}

#container img {
    width: 120px;
    height: 120px;
    margin-top: -60px;
    margin-bottom: 30px;
}

input {
    height: 40px;
    width: 80%;
    font-size: 18px;
    margin-bottom: 10px;
    background-color: #fff;
    padding-left: 40px;
    border: none;
    background-repeat: no-repeat;
    background-position: 10px;
}

input.email {
    background-image: url(../Images/icone-usuario.png);
}

input.senha {
    background-image: url(../Images/icone-cadeado.png);
}

input.submit {
    color: #fff;
    background-color: #f79300;
    border: 2px solid #db7d00;
    padding: 5px 20px;
    height: 45px;
    width: 90%;
    background: -webkit-linear-gradient(to top, #faa600, #f68a00); 
    background: -moz-linear-gradient(to top, #faa600, #f68a00); 
    background: -o-linear-gradient(to top, #faa600, #f68a00); 
    background: linear-gradient(to top, #faa600, #f68a00);
}

Fim caixa de login 

************************************************ */

.caixa {
    width: 400px;
    background: #dedede url(../Images/fundo-arredondamento.png) repeat-y;
    
}

.caixa h2 {
    padding: 10px 20px 0 20px;
    background: url(../Images/topo2.png) no-repeat left top;
}

.caixa p {
    padding: 0 20px;
    margin-bottom: 0;
}

.caixa .ultimo_p {
    background: url(../Images/baixo2.png)no-repeat left bottom;
    width: 400px;
    height: 24px;
}

/* Caixa imagem arredondamento

.caixa h2 {
    padding: 10px 20px 0 20px;
}

.caixa p {
    padding: 0px 20px 20px 20px;
    background: url(../Images/baixo2.png) no-repeat left bottom;
    
} Fim caixa imagem arredondamento*/